@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;

}

:root {
    --home-p : rgb(0, 0, 0);
    --home-bg-color : rgb(250, 235, 215);
    --home-p-size: 1rem;
    --c1 : #ff8600;
    --c2 : #B2886A;
    --c3 : #FFF6EA;
    --c4 : #402E32;
    --c5 : #854A3C;
}

#body {
    background-color: var(--home-bg-color);
}
h1,h2,h3,h4,h5,h6 {
    color: rgb(41, 42, 49);
    font-size: 1.5rem;
    text-transform: capitalize;
}
a {
    text-decoration: none;
}
p {
    color: var(--home-p);
    font-size: var(--hame-p-size);
}
.grid {
    display: grid;
}
/* Navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
     color: white;
     font-weight: 700;
     font-size: 2em;
     text-transform: uppercase;
     letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
    text-decoration: none;
}
header ul li a:hover,
.active {
    background: white;
    color: black;
}

/* Home */
#home {
    width: 100%;
    height: 100vh;
    background: url(/static/images/train.jpg) top center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: -1;
}
#home::before {
    content: "";
    background: linear-gradient(0deg,  0%, rgba(255,134,0,1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 0;
}
#home > * {
    position: relative;
    z-index: 100;
}
#home h1 {
    text-transform: capitalize;
}
#home .container .home-container {
    padding-top: 90px;
    text-align: center;
    z-index: 100;
}
