@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05rem;
}

:root {
    --c1 : #ff8600;
    --c2 : #B2886A;
    --c3 : #FFF6EA;
    --c4 : #402E32;
    --c5 : #854A3C;
}

#body {
    background-color: var(--c3);
}
h1,h2,h3,h4,h5,h6 {
    color: var(--c4);
    font-size: 1.5rem;
    text-transform: capitalize;
}
a {
    text-decoration: none;
}
p {
    color: var(--c4);
    font-size: 20px;
}
.grid {
    display: grid;
}
.grid-item {
    display: grid;
    align-items: center;
    justify-items: center;
}  
/* Navigation */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-fixed {
    background-color: var(--c4);
    height: 70px;
    transition: 0.5s all ease-in;
}
header .logo {
     color: var(--c2);
     font-weight: 800;
     font-size: 2em;
     text-decoration: none;
     text-transform: uppercase;
     letter-spacing: 2px;
}
header .logo:hover {
    color: var(--c5);
    animation: slideInLeft 0.3s ease-out;
}
header ul {
    display: flex;
    margin: 0;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    padding: 6px 15px;
    position: relative;
    color: var(--c3);
    border-radius: 20px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s all ease;
}
header ul li a:hover,
.active {
    background: var(--c1);
    color: var(--c3);
    transition: 0.3s all ease;
}

/* logout */
#logout {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 20px;

}

#logout .text-logout {
    text-decoration: none;
    color: var(--c1);
}
/* Home */
#home {
    width: 100%;
    height: 100vh;
    background-color: var(--c3);
    position: relative;
    z-index: -1;
}
#home::before {
    content: "";
    background-color: var(--c4);
    /* clip-path: polygon(40% 0,100% 0,100% 100%,60% 100%); */
    clip-path: polygon(44.01% 4px, 100% 0px, 100% 100%, 69.1% 99.32%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: -1;
}
#home .home-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#home .home-container .text {
    width: 45%;
    height: 100%;
    padding: 1rem 0rem 1rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 10;
}
#home .home-container .text .title h1 {
    font-size: 2.4rem;
    color: var(--c4);
    text-transform: uppercase;
    font-weight: bolder;
}
#home .home-container .text .title p {
    text-transform: capitalize;
    color: var(--c5);
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}
#home .home-container .text .para h2 {
    color: var(--c5);
    font-size: 1rem;
    margin-top: 0;
}
#home .home-container .text .button > a {
    font-size: 1.3rem;
    padding: 6px 15px;
    color: var(--c3);
    border-radius: 20px;
    text-decoration: none;
    background: var(--c1);
    text-transform: capitalize;
}
#home .home-container .blob-cont {
    width: 50%;
    background: url(/static/images/train2.jpg)  center;
    bottom: 0;
    background-size: cover;
    mix-blend-mode: saturation;
    overflow: hidden;
}
/* about */
#about-us {
    padding: 2rem 1rem;
}
#about-us .container .about-container {
    justify-items: center;
}
#about-us .container .about-container .title h1 {
    border-bottom: 0.35rem solid var(--c5);
}
#about-us .container .about-container .para p {
    font-size: 1.1rem;
}
#about-us .container .about-container .para {
    width: 1270px;
    height: 200px;
    grid-template-columns: 65% 35%;
    margin-bottom: 2rem;
}
#about-us .container .about-container .title, .para, .data-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#about-us .container .about-container .data-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#about-us .container .about-container .data-container .data-item .data-grid div{
    justify-content: center;
    text-align: center;
}
#about-us .container .about-container .data-container .data-item .data-grid .data {
    font-size: 1.5rem;
}
#about-us .container .about-container .para .about-img {
    width: 80%;
    height: 80%;
    padding: 0.25rem;
}
#about-us .container .about-container .para .about-img img {
    width: 100%;
}

/*
Animations 
*/

@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translatex(-100);
    }
    50% {
        opacity: 0.5;
        transform: translateX(-50);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*
What we offer
*/
#what-we-offer {
    padding: 2rem 1rem;
}
#what-we-offer .wwo-cont {
    justify-items: center;
}
#what-we-offer .wwo-cont .title h1 {
    border-bottom: 0.35rem solid var(--c5);
}
#what-we-offer .wwo-cont .offers-cont {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}